extends layout

block content
  h1= title
  p Welcome to #{title}

  if error 
    p error loading items 
  else 
    dl
      each item in categories
        dt 
          a(href=item.url) #{item.name}
