extends layout

block content
  div(class='row')
    img(src='/images/banner.jpg' class='img-fluid')
  h1(style='text-align: center' class='text-shadow')= title

  h4(style='text-align: center') Browse Systems

  if error 
    p error loading items 
  else 
      ul(class='row no-padding')
        each category in categories
            li(class='col-lg-6 col-md-6')
              div(class='card mb-5')
                a(href=category.url)
                  img(src=`/images/${category.image}` class='card-img-top console-logo box-shadow')
                
        else 
            li There are no items for sale!
