extends layout 

block content 

  h1(class='center-text') #{title}: #{item.name}

  p(class='center-text')  Do you really want to delete this item?

  form(method='POST' action='' class='center-text')
    div.form-group
      input#item.id.form-control(type='hidden', name='itemid', required='true', value=item._id)
    button.btn.btn-primary(type='submit') Delete