@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

body {
  font: 20px "Odibee Sans", Helvetica, Arial, sans-serif;
  padding: 0px 50px 0px 50px;
}

a {
  text-decoration: none !important;
}


li {
  list-style-type: none;
}

.avatar {
  height: 10rem;
  width: 14rem;
}

.box-shadow {
  box-shadow: 1px 1px 5px #999999;
}

.text-shadow {
  text-shadow: .3px .3px 2px;
}

.no-padding {
  padding: 0;
}

.grow {
  transition: all .3s ease-in-out
}

.grow:hover{
  transform: scale(1.05);
}